<div class="edit-user d-flex justify-content-center align-items-center">
  <div class="card">
    <div class="card-header">
      Editer mon Email / Mot de Passe
    </div>
    
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
      
        <div class="field form-floating">
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control m-2 ms-0' %>
          <%= f.label :email, 'Email' %>
        </div>
      
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      
        <div class="field form-floating">
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control m-2 ms-0' %>
          <%= f.label :password, 'Mot de passe (ne pas remplir si vous ne voulez pas le modifier)' %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> caractères minimum</em>
          <% end %>
        </div>
      
        <div class="field form-floating">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control m-2 ms-0' %>
          <%= f.label :password_confirmation, 'Confirmation du mot de passe' %>
        </div>
      
        <div class="field form-floating">
          <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control m-2 ms-0' %>
          <%= f.label :current_password, 'Mot de passe courant' %>
        </div>
      
        <%= f.submit "Confirmer les changements", class: 'btn btn-primary m-3 ms-0' %>
      <% end %>
      
      <h3>Supprimer mon compte</h3>
      
      <p>Pas content ? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-primary' %></p>
      
      <%= link_to "Retour", :back %>
    </div>
  </div>
</div>