<div class="index-container">
  <div class="jumbotron container-fluid p-0 py-5 d-flex align-items-center justify-content-center flex-column">
    <h1 class='text-white'>EveneMenteur</h1>
  </div>
  <% @events.each do |event| %>
    <div class="event-display d-flex justify-content-center align-items-center">
      <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body d-flex align-items-center justify-content-center flex-column">
          <h5 class="card-title m-4"><%= event.title %></h5>
          <p class="card-text m-4"><%= event.description %></p>
          <%= link_to 'En savoir plus', event_path(event), class: "btn btn-primary m-4" %>
        </div>
        <div class="card-footer">
          <p class='text-muted'>
            <%= event.start_date.strftime("A lieu le %d/%m/%Y à ") %>
            <%= event.location %>
          </p>
          <p class='text-muted'>
            <%= "Heure : #{event.start_date.strftime("%k:%M")} - Durée : #{event.duration} minutes" %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
