<div class="show-event d-flex justify-content-center align-items-center">
  <div class="card">
    <div class="card-header">
      Profil
    </div>
    <div class="card-body">
      <div class="header d-flex justify-content-between m-4 mb-5">
        <h5 class="card-title"><%= @event.title %></h5>
      </div>
      <p class="card-text m-4"><span class='text-muted'>Créateur : </span><%= @event.admin.first_name %></p>
      <p class="card-text m-4"><span class="text-muted">Nombre d'inscrits : </span><%= @event.users.count %></p>
      <p class="card-text m-4"><span class="text-muted">Date de début : </span><%= @event.start_date.strftime("le %d/%m/%Y à %k:%M") %></p>
      <p class="card-text m-4"><span class="text-muted">Date de fin : </span><%= @event.end_date.strftime("le %d/%m/%Y à %k:%M") %></p>
      <p class="card-text m-4"><span class="text-muted">Lieu : </span><%= @event.location %></p>
      <p class="card-text m-4"><span class="text-muted">Durée : </span><%= @event.duration %> minutes</p>
      <p class="card-text m-4 mb-0 text-muted">Description :</p>
      <p class="card-text m-4 mt-2"><%= @event.description %></p>
    </div>
  </div>
</div>